@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}

/* Base */

body {
    font-family: "OpenSans-Regular";
    scroll-behavior: smooth;
    background: #fff;
    padding-right: 0 !important;
}

#changeSearchModal {
    padding-right: 0 !important;
}

img {
    -webkit-user-drag: none;
}

.bg-gradation-blue {
    background: linear-gradient(to right, #367ffa, #59cbfd);
}

.btn-orange {
    background-color: #fd9e0a;
    color: #fff;
}

.bg-orange {
    background-color: #fd9e0a;
}

.container,
hr {
    max-width: 1180px;
}

.not-allowed {
    cursor: not-allowed;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn-primary {
    background: #367ffa;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

.nav-tabs .nav-link:focus {
    border: none;
}

/* .custom-range::-webkit-slider-thumb {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -0.5rem;
    background-color: #fff;
    border: 1px solid #367ffa;
    cursor: grab;
} */

/* .custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #f8fafc, 0 0 0 0.2rem rgba(150, 219, 250, 0.5);
} */

/* .custom-range::-webkit-slider-thumb:active {
    background-color: #fff;
    cursor: grabbing;
} */

/* .custom-range::-webkit-slider-runnable-track {
    height: 3px;
    background-color: #ddd;
} */

.modal-backdrop.show {
    opacity: 0.7;
}

/* || Icons */
[class*=" tm-"],
[class^="tm"] {
    z-index: 900;
}

[class*=" tm-pesawat-"],
[class*=" tm-kalender"],
[class*=" tm-kereta-"] {
    position: absolute;
}

[class*=" tm-pesawat-"] {
    margin: 5px 8px;
}

[class*=" tm-kereta-"] {
    margin: 0 8px;
}

[class*=" tm-kalender"] {
    margin: 0px 5px;
}

[class^="tm"],
[class*=" tm-"] {
    width: 45px;
    height: 45px;
}

.tm.tm-kereta-reverse {
    transform: scaleX(-1);
}

.fa.fa-plus,
.fa.fa-minus {
    color: #367ffa;
}

i.fa.fa-city {
    color: #367ffa;
}

.tm-refundable {
    font-size: 64px;
}

/* Overlay */
.overlay {
    transition: all 0.3s ease;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -9999;
}

.overlay.show {
    background: rgba(2, 2, 2, 0.7);
    z-index: 800;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

/* || Carousal */
.home-page .container .banner {
    width: 100%;
    height: 360px;
}

.home-page .container .banner .home-slider,
#carouselHomepage .carousel-inner .carousel-item img {
    height: 300px;
}

#carouselHomepage .carousel-inner .carousel-item img {
    margin: 0 auto;
    width: 910px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    opacity: 1;
}

.carousel-control-prev {
    left: 6.5%;
}

.carousel-control-next {
    right: 6.5%;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    background-image: none;
    width: 35px;
    height: 35px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
}

.carousel-control-prev .carousel-control-prev-icon {
    transform: rotate(45deg);
}

.carousel-control-next .carousel-control-next-icon {
    transform: rotate(225deg);
}

/* || Header */
.logo {
    width: 238px;
    height: 78px;
}

#header-container .container .navbar .logo {
    margin-left: -10px;
}

#header-container .container .navbar .navbar-toggler {
    border: 2px solid orange;
}

#header-container .container .navbar {
    height: 120px;
}

#header-container .nav-item .nav-link,
#header-container .nav-item .btn {
    font-family: "OpenSans-SemiBold";
    font-size: 14px;
}

#header-container .navbar-nav .nav-item .nav-link:hover,
#header-container .navbar-nav .nav-item .nav-link.active {
    background: linear-gradient(#ffffff, #ffffff);
    background-repeat: no-repeat;
}

#header-container .navbar #navbarNav .header-right .btn-register {
    width: 70px;
    margin: 3px 0px 0px 0px;
    padding: 4px 12px;
    color: #367ffa;
    border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgba(53, 64, 90, 0.2);
}

/* || Form Pencarian Penerbangan dan Kereta Api */

.card.product-widget,
.card.train-form,
.card.flight-form,
.card.product-widget form .row .product-list a.product,
.card.train-form form .row .product-list a.product,
.card.product-widget form .row .product-form-search-button,
.card.train-form form .row .product-form-search-button {
    border-radius: 10px;
    width: 100%;
}

.card.product-widget,
.card.train-form,
.card.flight-form {
    margin-top: -2.5rem;
    box-shadow: 0 2px 16px 0 rgba(57, 89, 163, 0.3);
    z-index: 1100;
    color: #35405a;
    font-size: 14px;
}

.product-widget .product-list a.product {
    width: 100%;
    height: 70px;
    border: 2px solid #367ffa;
}

.product-widget .product-list a.product img {
    width: 50px;
    height: 50px;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
} */

.home-page .home-train .card.train-form,
.home-page .home-flight .card.flight-form {
    margin-bottom: 80px;
}

.input-group .form-control.product-search-input,
.home-page .select2-container .select2-selection--single {
    width: 100%;
    height: 50px;
    border: 1px solid #367ffa;
    border-radius: 10px;
    font-size: 16px;
    font-family: "OpenSans-SemiBold";
    color: #35405a;
}

/* Kustomisasi select2 */
.home-page .select2-selection--single .select2-selection__rendered {
    padding-top: 10px;
}

.flight .select2-container--default .select2-selection--single {
    border: none;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 13px;
    width: 30px;
    height: 30px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    display: none;
}

.select2-container--default.select2-container--open
    .select2-selection--single
    .select2-selection__arrow
    b {
    border-color: transparent transparent #367ffa #367ffa;
    border-width: unset;
}

.select2-results__options--nested .select2-results__option {
    display: flex;
    align-items: center;
}

.select2-dropdown {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border: none;
}

.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #f2f8ff;
    color: #58627a;
}
.box-flightform-airport .select2.select2-container {
    padding: 6px 0 0 28px;
    width: 100% !important;
}

.box-flightform-airport .select2-container--default .select2-selection--single {
    font-family: "OpenSans-SemiBold";
    font-size: 16px;
    color: #35405a;
    border: none;
}

#input-bandara-asal,
#input-bandara-tujuan,
#input-tanggal-berangkat,
#input-tanggal-pulang,
#input-stasiun-asal,
#input-stasiun-tujuan,
.home-page
    .select2-container
    .select2-selection--single
    .select2-selection__rendered {
    padding-left: 55px;
}

/* Custom Select Box Passenger */

form .row .passenger-dropdown-container .dropdown-toggle {
    padding: 10px 10px;
}

/* Untuk mereset icon caret bootstrap */
form .dropdown-toggle::after,
.tm.tm-caret {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
    border: 3px solid;
    border-color: transparent transparent #367ffa #367ffa;
    transform: rotate(-45deg);
}

.tm.tm-caret.active {
    top: 22px;
    transform: rotate(-225deg);
}

.passenger-dropdown-container .dropdown-menu {
    width: 260px;
}

.passenger-dropdown-container .dropdown-menu > .dropdown-item {
    padding: 0px 16px;
}

.passenger-dropdown-container .dropdown-menu .dropdown-header {
    padding: 16px;
}

.passenger-dropdown-container .dropdown-item .input-group > input[type="text"] {
    pointer-events: none;
}

/* Button Cari Penerbangan */
.product-form-search-button {
    background-color: #367ffa;
    color: #fff;
    height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.product-form-search-button:hover {
    background-color: #3172e2;
    color: #fff;
}

.date {
    z-index: 1000;
}

.dropdown-menu.show {
    animation: dropdownAnimation 0.3s ease-in-out 1;
}

@keyframes dropdownAnimation {
    0% {
        top: -80px;
        opacity: 0;
    }

    25% {
        top: -60px;
        opacity: 0.25;
    }

    50% {
        top: -40px;
        opacity: 0.5;
    }

    75% {
        top: -20px;
        opacity: 0.75;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes dropdownUp {
    0% {
        top: 0px;
        opacity: 1;
    }

    25% {
        top: -20px;
        opacity: 0.75;
    }

    50% {
        top: -40px;
        opacity: 0.5;
    }

    75% {
        top: -60px;
        opacity: 0.25;
    }

    100% {
        top: -80px;
        opacity: 0;
    }
}

/* Dropdown list */
.dropdown.boxairport,
.dropdown.stasiun-list-box {
    z-index: 1100;
}

.dropdown.boxairport .dropdown-menu,
.dropdown.stasiun-list-box .dropdown-menu {
    height: 300px;
    overflow: auto;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px;
}

.dropdown.boxairport .dropdown-menu {
    width: 704px;
}

.dropdown.stasiun-list-box .dropdown-menu {
    width: 350px;
}

.dropdown.boxairport .dropdown-menu > .dropdown-item,
.dropdown.stasiun-list-box .dropdown-menu > .dropdown-item {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    color: #58627a;
}

.dropdown.boxairport .dropdown-menu > .dropdown-item:hover,
.dropdown.stasiun-list-box .dropdown-menu > .dropdown-item:hover {
    background-color: #f2f8ff;
}

.dropdown.boxairport .dropdown-menu > .dropdown-header,
.dropdown.stasiun-list-box .dropdown-menu > .dropdown-header {
    font-size: 16px;
    border-bottom: 2px solid rgba(53, 64, 90, 0.2);
}

.dropdown .dropdown-menu > .dropdown-header i.fa.fa-times {
    position: absolute;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.passenger-dropdown-container .dropdown-menu > .dropdown-header {
    font-size: 16px;
}

.passenger-dropdown-container .dropdown-menu > .dropdown-header i.fa.fa-times {
    color: #fd9e0a;
}

.dropdown-option-code {
    font-size: 12px;
    font-weight: 300;
    background-color: #eff1f7;
    padding: 0px 4px;
    min-width: 66px;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
}

.reverse-button-container {
    right: -22px;
}

.reverse-button-container span {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    top: 40%;
    right: 46%;
    border: 1px solid #367ffa;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.reverse-button-container span .fas.fa-exchange-alt {
    font-size: 30px;
    color: #367ffa;
}

/* || Feature Section*/
.feature .container .feature-box {
    max-width: 980px;
    margin: 32px auto -7px;
}

.feature .container .feature-box .list {
    margin-bottom: 41px;
}

.feature .container .feature-box .list .feature-image img {
    margin-right: 18px;
    width: 75px;
    height: 75px;
}

.feature .container .feature-box .list .feature-info .title {
    margin: 20px 0;
    line-height: 25px;
    font-size: 20px;
    font-weight: 600;
}

.feature .container .feature-box .list .feature-info .subtitle {
    margin: 0;
    font-weight: 500;
}

.feature .container .feature-box .list:nth-child(2),
.feature .container .feature-box .list:nth-last-child(1) {
    padding: 0 0 0 20px;
}

.home hr {
    margin: 48px 0 50px;
}

/* || Book Cheap */
.book-cheap .col-description {
    margin-top: 40px;
    text-align: left;
}

.book-cheap .col-description img {
    width: 70px;
    height: 70px;
    margin-right: 17px;
}

.book-cheap .col-description .text-bookcheap-title {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #35405a;
}

.book-cheap .col-description .text-bookcheap-description {
    font-size: 16px;
    color: #58627a;
    margin-top: 24px;
}

/* || TripMate Partners Section */
.partner-product-name {
    font-size: 16px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 600;
}

.partner-product-icon {
    margin-bottom: 30px;
}

.tripmate-partners h2 {
    margin: 40px auto;
    font-size: 32px;
}

.tripmate-partners #partner-flight .text-airline-partners,
.home-popular .text-popular-title,
.content-link .content-link-title,
.book-cheap .text-book-cheap {
    font-size: 24px;
    color: #35405a;
}

.tripmate-partners #partner-flight .partner-product-name {
    color: #367ffa;
}

.tripmate-partners #partner-flight .partner-product-list {
    margin-top: 70px;
}

.tripmate-partners #partner-train .partner-product-name {
    color: #fd9e0a;
}

.tripmate-partners #partner-train .partner-product-list {
    margin-bottom: 40px;
}

/* || TripMate Advantages Section */

.tripmate-advantages .container h2 {
    margin: 40px auto;
    font-size: 32px;
}

.tripmate-advantages .container .row h3.title {
    line-height: 100px;
    font-size: 30px;
}

.tripmate-advantages .container .row p {
    font-size: 16px;
}

.tripmate-advantages .container .row:nth-last-child(1) {
    margin-bottom: 40px;
}

/* || Home Popular && Favorit Trains */

.home-popular .list-popular.row a,
.content-link .list-popular.row a {
    text-decoration: none;
    color: #58627a;
    font-size: 14px;
}

.content-link {
    padding: 0px 90px;
}

/* || Halaman Pencarian */

.flight,
.train {
    background: #f5f6fa;
}

.preview-flight .right-side [class^="text-"],
.preview-train .right-side [class^="text-"] {
    font-family: "OpenSans-SemiBold";
}

.preview-flight .preview-flight-content .choose-flight,
.preview-train .preview-train-content .choose-train {
    padding: 21px;
}

.text-choose {
    color: #35405a;
    font-size: 20px;
}

.preview-flight-content .choose-flight .list,
.preview-train-content .choose-train .list {
    color: #58627a;
    font-size: 14px;
}

.dot-circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #8a93a7;
}

.preview-flight .preview-flight-content .btn-ubah-pencarian,
.preview-train .preview-train-content .btn-ubah-pencarian {
    background: #f7f7f7;
    text-transform: uppercase;
    color: #367ffa;
    font-size: 16px;
    font-family: "OpenSans-SemiBold";
    border-radius: 24px;
    border: none;
    outline: none;
}

.preview-flight-content .content .border-left-ticket::before,
.preview-train-content .content .border-left-ticket::before {
    position: absolute;
    content: "";
    border-top: 11px solid rgba(0, 0, 0, 0);
    border-bottom: 11px solid rgba(0, 0, 0, 0);
    border-left: 11px solid #dee2ee;
    top: 36px;
    left: -1px;
}

.preview-flight-content .content .border-left-ticket::after,
.preview-train-content .content .border-left-ticket::after {
    position: absolute;
    content: "";
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid #fff;
    top: 37px;
    left: -1px;
}

.preview-flight .modal.fade .modal-dialog,
.preview-train .modal.fade .modal-dialog {
    transition: all 0.3s ease-out;
    transform: none;
}

/* .preview-flight .wrapper-change-search {
    position: absolute;
    top: 13.5%;
    right: 0;
    left: 0;
    z-index: 1100;
} */

/* Form Ubah Pencarian */

.wrapper-change-search i[class*="fa"] {
    color: #367ffa;
    font-size: 20px;
}

.wrapper-form .form-group .form-control {
    font-family: "OpenSans-SemiBold";
    font-size: 16px;
    color: #35405a;
    width: 90%;
    border: none;
}

.wrapper-form .form-group {
    margin-bottom: 0;
}

.wrapper-form .box-flight-form {
    padding: 20px 15px 22px;
}

.wrapper-form .box-flightform-airport .form-control {
    margin-left: 22px;
    cursor: pointer;
    width: 88%;
}

.wrapper-form .box-flightform-passenger .form-control,
.wrapper-form .form-group input[id*="inputStasiun"] {
    padding-left: 26px;
    cursor: pointer;
}

.wrapper-form .form-group .form-control:focus {
    border: none;
    outline: 0;
    box-shadow: none;
}

.wrapper-form .form-group .form-control[readonly] {
    background-color: transparent;
    cursor: pointer;
}

.wrapper-form .form-group label {
    font-size: 14px;
    color: #8a93a7;
}

.wrapper-form .form-group .fa.fa-plane-departure,
.wrapper-form .form-group .fa.fa-plane-arrival,
.wrapper-form .form-group .fa.fa-train {
    position: absolute;
    top: 60px;
}

.wrapper-form .form-group .fa.fa-user-alt {
    position: absolute;
    top: 62px;
    left: 15px;
    font-size: 18px;
}

.wrapper-form .form-group .far.fa-calendar-alt {
    top: 36px;
    left: -9px;
}

.wrapper-form .form-group .fa.fa-arrow-right,
.wrapper-form .form-group .fa.fa-arrow-left {
    top: 48px;
    left: -3px;
    font-size: 12px;
    color: #fd9e0a;
}

.wrapper-form .form-group .fa.fa-chevron-down {
    position: absolute;
    transition: all 0.2s linear;
}

.wrapper-form .form-group .fa.fa-chevron-down.active {
    transform: rotate(180deg);
}

.wrapper-form .btn.btn-orange {
    padding: 12px 24px;
    font-size: 16px;
    font-family: "OpenSans-SemiBold";
    color: #fff;
    border-radius: 24px;
    height: 48px;
}

.form-group .form-control:disabled {
    background: none;
    color: #c6cbda;
}

.wrapper-form .dropdown-passenger-cabin .dropdown-menu {
    font-size: 16px;
    transition: all 0.3s ease-in 0s;
    width: 477px;
    user-select: none;
    padding: 0;
    box-shadow: 0 2px 8px 0 rgba(53, 64, 90, 0.2);
    border: none;
}

.dropdown-passenger-cabin .close {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 2.25rem;
    opacity: 1;
    color: #8a93a7;
    cursor: pointer;
}

.dropdown-passenger-cabin .passenger-cabin-title {
    font-size: 16px;
    color: #58627a;
    border-bottom: 2px solid #dee2ee;
}

.dropdown-passenger-cabin .passenger-cabin-title .passenger-cabin-container {
    padding: 16px;
}

.dropdown-passenger-cabin
    .passenger-cabin-title
    .passenger-cabin-container
    + .passenger-cabin-container,
.dropdown-passenger-cabin
    .passenger-cabin-content-container
    .passenger-cabin-content-list:nth-child(2) {
    border-left: 2px solid #dee2ee;
}

.dropdown-passenger-cabin
    .passenger-cabin-content-container
    .passenger-cabin-content-list {
    padding: 0px 16px;
}

.passenger-cabin-content-container
    .passenger-cabin-content-list
    .passenger-cabin-item-list {
    height: 56px;
    cursor: pointer;
}

.passenger-cabin-content-list
    .passenger-cabin-item-list
    input[type="number"]
    + .input-group
    .form-control {
    pointer-events: none;
}

.passenger-cabin-content-list .passenger-cabin-item-list label,
.passenger-cabin-content-list .cabin-class {
    font-family: "OpenSans-SemiBold";
}

.dropdown-item.active,
.dropdown-item:active {
    text-decoration: none;
    background-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Filter Pencarian */

.col-filter .filter .filter-header .text-filter {
    font-size: 18px;
    font-family: "OpenSans-SemiBold";
}

.col-filter .filter-header #btnReset {
    font-size: 14px;
    color: #367ffa;
    cursor: pointer;
    font-family: "OpenSans-SemiBold";
}

.col-filter .filter-body.card {
    border: none;
}

.col-filter .filter-body .card-body .card-header {
    background: #fff;
    border: none;
}

.col-filter .filter-body .card-body .card {
    border: none;
}

.col-filter .filter-body .card-body {
    padding: 8px;
}

.col-filter .filter-body #filterAccordion .card-body {
    padding: 10px 10px 0;
}

.col-filter .collapse-label {
    font-size: 16px;
    font-family: "OpenSans-SemiBold";
    padding: 8px 8px 0;
}

.col-filter .collapse-label .fa-chevron-down {
    color: #367ffa;
    font-size: 24px;
}

.card-header .collapse-label a {
    color: #35405a;
}

.col-filter .collapse-label a.active .fa-chevron-down {
    transform: rotate(180deg);
}

.filter input[type="checkbox"].form-control {
    width: 24px;
    height: 24px;
}

.filter-category .card .card-body {
    font-size: 16px;
    color: #8a93a7;
}

.filter-category .card .card-body .title {
    color: #35405a;
}

.filter-category .form-group .logo-airline-wrapped {
    background: #fff;
    width: 53px;
    height: 30px;
    padding: 5px;
}

.card-body .form-group .logo-airline-wrapped img {
    vertical-align: baseline;
}

.card-body .form-group .new-label .label-1 {
    color: #35405a;
}

.card-body .text-duration .text-hour {
    font-size: 14px;
    font-family: "OpenSans-SemiBold";
}

.card-body .text-min-max {
    font-size: 14px;
}

/* custom style untuk noUiSlider */
#slider1,
#slider2 {
    padding-right: 17px;
}

.noUi-target {
    background: #ddd;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    height: 3px;
}

.noUi-handle {
    border: 1px solid #367ffa;
    border-radius: 50%;
    cursor: grab;
}

.noUi-handle:active {
    cursor: grabbing;
}

.noUi-handle:focus {
    box-shadow: 0 0 0 1px #f8fafc, 0 0 0 0.2rem rgba(150, 219, 250, 0.5);
}

.noUi-horizontal .noUi-handle {
    height: 17px;
    width: 17px;
    top: -7px;
}

.noUi-handle:before,
.noUi-handle:after {
    content: none;
}

.noUi-connect {
    background: #0064d2;
}
/* List Penerbangan dan Kereta Api */
.wrapper-search-result {
    margin-top: 21px;
}

.wrapper-result .wrapper-flight-list,
.wrapper-result .wrapper-train-list {
    padding: 16px 24px;
    color: #35405a;
    min-height: 170px;
}

.wrapper-result .wrapper-flight-list .maskapai-penerbangan,
.wrapper-result .left .flight-type {
    font-size: 14px;
}

.logo-airline {
    width: 100%;
    height: 40px;
}

.logo-airline img {
    max-width: 100%;
    max-height: 100%;
}

.text-time {
    font-size: 20px;
    font-family: "OpenSans-SemiBold";
}

.text-code {
    font-size: 14px;
}

.text-plus-day {
    border-radius: 24px;
    position: absolute;
    right: -14px;
}
/* 
    .wrapper-result
    .wrapper-flight-list
    .left
    .timeline
    .hr-line {
    margin: 4px 0;
    width: 72px;
    border-top: 1px solid #c6cbda;
} */

/* 
    .wrapper-result
    .wrapper-flight-list
    .left
    .text-total-time {
    font-size: 12px;
    color: #58627a;
} */

.wrapper-result .left .text-total-time {
    font-size: 20px;
}

.wrapper-result .right .baggage-list {
    margin-top: 5px;
}

.wrapper-result .right .text-price {
    font-size: 20px;
    font-family: "OpenSans-SemiBold";
    color: #fd9e0a;
}

.wrapper-result .right .text-pax {
    font-size: 12px;
    color: #8a93a7;
    font-family: "OpenSans-Regular";
}

/* Detail Penerbangan */

.wrapper-result .btn-details {
    font-size: 14px;
}

.wrapper-result .btn-details a {
    color: #0064d2;
}

.wrapper-result .btn-details a:hover {
    color: #4588cf;
}

.wrapper-result .btn-details a.active {
    border-bottom: 1px solid #367ffa;
    font-family: "OpenSans-SemiBold";
}

.wrapper-result .wrapper-flight-list .btn-details {
    width: 60%;
}

.wrapper-result .btn-book-now .btn {
    text-transform: uppercase;
    border-radius: 24px;
    min-width: 100px;
    font-size: 16px;
    font-family: "OpenSans-SemiBold";
    border: none;
    outline: none;
    box-shadow: none;
}

.wrapper-collapse .row table {
    width: 100%;
}

.wrapper-collapse .row .th-detail::before,
.wrapper-collapse .row .th-detail::after {
    content: "";
    position: absolute;
    width: 1.5px;
    background: #dee2ee;
}

.wrapper-collapse .row .th-detail::before {
    top: -32px;
    left: 1px;
}

.wrapper-collapse .row .th-detail::after {
    bottom: -10px;
    left: 0.5px;
}

.wrapper-result .baggage-list i[class*="fa"] {
    margin-top: 5px;
    font-size: 20px;
    color: #35405a;
}

.wrapper-collapse .row .text-airport,
.wrapper-collapse .row .text-time-fd,
.wrapper-collapse .row .text-date-fd {
    font-size: 14px;
    color: #35405a;
}

.wrapper-collapse .row .text-airport {
    padding-left: 9px;
}

.wrapper-collapse .row .text-airport::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #dee2ee;
    top: 6px;
    left: -1px;
}

.wrapper-collapse .row .text-time-fd {
    font-family: "OpenSans-SemiBold";
}

.wrapper-collapse .row .col-flight-detail-1,
.wrapper-collapse .row .col-train-detail-1 {
    width: 73px;
}

.wrapper-collapse .row .box-flight-detail,
.wrapper-collapse .row .box-train-detail {
    padding: 32px 0;
    border-left: 1.4px solid #dee2ee;
}

.wrapper-collapse .row .detail-info-wrapper {
    background: #f2f8ff;
    padding: 24px;
    font-size: 14px;
    font-weight: normal;
}

.wrapper-collapse .row .detail-info-wrapper .logo-airline {
    width: 34px;
    height: 20px;
    padding: 2px;
    background: #fff;
    border: 1px solid #dee2ee;
}

.wrapper-collapse .row .detail-info-wrapper .details-info-header .line {
    width: 1px;
    height: 14px;
    background: #c6cbda;
    margin: 0 5px;
}

.wrapper-collapse .row .detail-info-wrapper .baggage-list {
    margin: 19px 0 0 0;
}

.wrapper-collapse .transit {
    position: relative;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    background-color: #f5f6fa;
    margin: 32px 0;
}

.wrapper-collapse .transit::before {
    content: "";
    position: absolute;
    border-left: 1.5px dashed #dee2ee;
    height: 64px;
    top: -64px;
    left: 59px;
}

.wrapper-collapse .transit::after {
    content: "";
    position: absolute;
    border-left: 1.5px dashed #dee2ee;
    height: 38px;
    bottom: -38px;
    left: 59px;
}

.wrapper-collapse .transit .text-transit {
    font-size: 14px;
    color: #58627a;
    text-align: center;
}

.wrapper-collapse .transit .text-transit label,
.wrapper-collapse .box-flight-detail .details-info-body .text-value {
    font-family: "OpenSans-SemiBold";
}

.wrapper-result .nama-kereta {
    font-family: "OpenSans-SemiBold";
    font-size: 16px;
}

.wrapper-result .kelas-kereta {
    font-size: 14px;
}

/* detail harga penerbangan */
#price-detail .price-details .text-subtitle,
#price-detail .price-details .text-free,
#price-detail .price-details .text-total {
    font-size: 14px;
    color: #35405a;
}

#price-detail .price-details .row ul {
    font-size: 14px;
    color: #8a93a7;
}

#price-detail .price-details .row ul li {
    padding: 6px 0;
}

#price-detail .price-details .text-total,
#price-detail .price-details .col-price-total {
    font-size: 16px;
}

#price-detail .price-details .col-price-total {
    font-family: "OpenSans-SemiBold";
    color: #0064d2;
}

.tooltip {
    font-family: "OpenSans-SemiBold";
    font-size: 14px;
}

.tooltip.show {
    opacity: 1;
}

.wrapper-result .no-flight-available .text-no-flight-available,
.wrapper-result .no-train-available .text-no-train-available {
    font-size: 18px;
    font-family: "OpenSans-SemiBold";
    color: #35405a;
}

.wrapper-result .no-flight-available .text-no-flight-available-desc,
.wrapper-result .no-train-available .text-no-train-available-desc {
    font-size: 14px;
    color: #8a93a7;
}

.btn-change .btn.btn-orange {
    border-radius: 24px;
    font-size: 16px;
    font-family: "OpenSans-SemiBold";
    text-transform: uppercase;
    padding: 12px 17px;
    box-shadow: none;
}

.btn-change .btn.btn-orange:hover {
    color: #fff;
    background: #fdac2b;
}

/* || Custom Date Picker */
.datepicker table tr td.day.highlighted {
    color: red;
    background: none;
}

/* || Auth */

#auth-body {
    background: #f8fafc;
}

.signup-wrapper {
    min-height: 100vh;
}

.card.card-signup {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 22px 32px;
    border: none;
}

.card-signup .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #35405a;
}

.card-signup .form-group .form-control::placeholder {
    color: rgba(0, 0, 0, 0);
}

.floating-label {
    position: relative;
    max-height: 0;
    font-weight: 500;
    pointer-events: none;
}

.floating-label::before {
    color: #8a93a7;
    content: attr(data-content);
    display: block;
    backface-visibility: hidden;
    transform-origin: left top;
    transition: transform 0.2s ease;
    position: relative;
    left: 0.75rem;
    top: -12px;
    font-size: 16px;
    background: #fff;
}

input.floating-input {
    caret-color: #367ffa;
}

input.floating-input:placeholder-shown ~ .floating-label::before {
    transform: translate3d(0, -1.2rem, 0) scale3d(1, 1, 1);
}

#email.floating-input:placeholder-shown ~ .floating-label::before {
    transform: translate3d(0, -2.3rem, 0) scale3d(1, 1, 1);
}

.floating-label::before,
input.floating-input:focus ~ .floating-label::before {
    transform: translate3d(0, -2.2rem, 0) scale3d(0.82, 0.82, 1);
}

#email.floating-input:focus ~ .floating-label::before {
    transform: translate3d(0, -3.3rem, 0) scale3d(0.82, 0.82, 1);
}

input.floating-input:focus ~ .floating-label::before {
    color: #367ffa;
}

.hidden-visually {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.form-row #btnRegister {
    border-radius: 24px;
    font-size: 16px;
    font-family: "OpenSans-SemiBold";
    text-transform: uppercase;
}
/* || Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 32px 0;
    font-size: 14px;
    color: #58627a;
    background-color: #fff;
}

.footer-group .contact-us-content span.icon-image img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.footer-group .contact-us {
    font-size: 14px;
}

.content-gray {
    color: #58627a;
}

.footer-group .footer-list {
    color: #35405a;
}

.footer-group .footer-list .footer-item-title {
    margin-bottom: 29px;
    font-size: 16px;
    font-family: "OpenSans-SemiBold";
    text-transform: uppercase;
}

.footer-group .footer-list .footer-item a {
    text-decoration: none;
}

.footer-group .copyright {
    padding: 30px 0;
    font-size: 14px;
    color: #35405a;
    background-color: #fff;
}

.footer-group hr {
    max-width: 100%;
    margin-bottom: 0;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
} */

/* || Responsive Layouts */

/* Extra Small Device (Potraits Phones, less than 576px) */
@media (min-width: 0px) {
    #changeSearchModal {
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* Header  */
    #header-container .container .navbar {
        height: 100%;
    }

    #header-container .navbar-nav .nav-item .nav-link:hover,
    #header-container .navbar-nav .nav-item .nav-link.active {
        background-position: 0% 100%;
        background-size: 7% 1px;
    }

    .banner {
        height: 300px;
    }

    /* Form */
    .product-widget {
        margin-top: 20px;
    }

    .dropdown.boxairport .dropdown-menu {
        width: 106.5%;
    }

    .home-page .reverse-button-container span {
        top: 90px;
        right: 38px;
        transform: rotate(90deg);
    }

    .train-form .reverse-button-container span,
    .home-flight .reverse-button-container span {
        top: 82px;
        right: 38px;
        transform: rotate(90deg);
    }

    .passenger-dropdown-container .product-search-input {
        text-align: center;
    }

    select#selectBoxKelasKabin {
        text-align-last: center;
    }

    /* TripMate Advantages Section */
    .tripmate-advantages .container .row h3.title {
        line-height: normal;
        margin: 40px 0;
        font-size: 28px;
    }

    .home-popular {
        padding: 0px;
    }

    /* Halaman Pencarian Responsive */
    .preview-flight .preview-flight-content .choose-flight,
    .preview-train .preview-train-content .choose-train {
        padding: 21px 21px 21px 0;
    }

    .text-choose {
        font-size: 16px;
    }

    .preview-flight-content .choose-flight .list,
    .preview-train-content .choose-train .list {
        font-size: 12px;
    }

    .text-passengers i.fa.fa-user {
        order: 1;
    }

    .text-passengers .jumlah-penumpang {
        order: 2;
    }

    /* .wrapper-form {
        padding: 30px 200px;
    } */

    .wrapper-form .btn.btn-orange {
        width: 60%;
    }

    .preview-flight-content .content .border-left-ticket::before,
    .preview-train-content .content .border-left-ticket::before,
    .preview-flight-content .content .border-left-ticket::after,
    .preview-train-content .content .border-left-ticket::after {
        content: "";
    }

    .wrapper-form .form-group {
        border-bottom: 1px solid #dee2ee;
    }

    .wrapper-form .form-group .fa.fa-plane-departure,
    .wrapper-form .form-group .fa.fa-plane-arrival,
    .wrapper-form .form-group .fa.fa-train {
        top: 40px;
    }

    .wrapper-form .form-group .fa.fa-user-alt {
        top: 40px;
        left: 0;
    }

    .wrapper-form .form-group .fa.fa-chevron-down {
        top: 40px;
        right: 0;
    }

    .wrapper-form .dropdown-passenger-cabin .dropdown-menu {
        left: -15px;
    }

    .wrapper-result .wrapper-flight-list .btn-details {
        width: 100%;
    }

    .wrapper-result .wrapper-flight-list > .row > .col-airline {
        position: absolute;
        top: 16px;
        left: 50px;
    }

    .feature .container .feature-box .list:nth-child(2),
    .feature .container .feature-box .list:nth-last-child(1) {
        padding: 0;
    }

    .wrapper-flight-list .right .text-price {
        font-size: 18px;
    }

    .wrapper-result .nav-tabs .nav-link {
        padding: 0;
        margin-right: 20px;
        color: #0064d2;
    }

    .wrapper-result .nav-tabs .nav-link:hover {
        color: #4588cf;
        border: none;
    }

    .wrapper-result .nav-tabs .nav-item .nav-link.active {
        background: none;
        border: none;
        padding-bottom: 23px;
        border-bottom: 1px solid #367ffa;
    }

    .wrapper-result .btn-details a.active {
        padding-bottom: 23px;
    }

    .wrapper-flight-list .text-time {
        margin-right: 8px;
    }

    .wrapper-result .wrapper-flight-list .left .flight-icon {
        padding: 0;
    }

    .wrapper-train-list .train-timeline .trip-duration::before {
        content: "";
        display: inline-block;
        border-left: 2px dashed #c6cbda;
        height: 100%;
        position: absolute;
        left: 20px;
    }

    .wrapper-train-list .departure-time::after {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #8a93a7;
        position: absolute;
        top: 25px;
        left: 17px;
        z-index: 1;
    }
    .wrapper-train-list .arrival-time::after {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #8a93a7;
        position: absolute;
        bottom: 25px;
        left: 17px;
        z-index: 1;
    }

    .wrapper-collapse .row .th-detail::before {
        height: 56px;
        top: -56px;
    }

    .wrapper-collapse .row .th-detail::after {
        height: 32px;
        bottom: -10px;
    }

    .wrapper-result .wrapper-collapse hr {
        margin: -17px 0 0 0;
    }

    .tripmate-partners #partner-flight .partner-product-list img {
        width: 50px;
        height: 50px;
    }

    .tripmate-partners #partner-train .partner-product-list img {
        width: 50px;
        height: 30px;
    }

    footer.footer-group .footer-content .container .row .contact-us {
        display: flex;
        justify-content: space-around;
    }
}

/* Small Devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* Header*/
    #header-container .container .navbar {
        height: 100%;
    }

    /* Form */
    .product-widget form .illustration-container {
        display: none;
    }

    .dropdown.boxairport .dropdown-menu {
        width: 100%;
    }

    /* Halaman Pencarian */
    .wrapper-collapse .row .th-detail::before,
    .wrapper-collapse .row .th-detail::after {
        content: "";
        position: absolute;
        width: 1.5px;
        height: 32px;
        background: #dee2ee;
    }

    .wrapper-collapse .row .th-detail::before {
        top: -32px;
        left: 1px;
    }

    .wrapper-collapse .row .th-detail::after {
        bottom: -10px;
        left: 0.5px;
    }

    .wrapper-result .wrapper-collapse hr {
        margin: 14px 0 0 0;
    }

    /* TripMate Advantages Section */
    .tripmate-advantages .container .row p {
        margin-bottom: 40px;
    }

    .tripmate-advantages .container .row h3.title {
        line-height: normal;
        margin: 40px 0;
        font-size: 28px;
    }
}

/* Medium Device (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Header */
    #header-container .container .navbar {
        height: 100%;
    }

    .home-popular {
        text-align: left;
        padding: 0px 94px;
    }

    /* Form */
    .product-widget form .illustration-container {
        display: none;
    }

    .home-page .reverse-button-container span {
        top: 38px;
        right: 0;
        transform: rotate(0deg);
    }

    .train-form .reverse-button-container span,
    .home-flight .reverse-button-container span {
        top: 32%;
        right: 0;
        transform: rotate(0deg);
    }

    select#selectBoxKelasKabin {
        text-align-last: left;
    }

    /* Halaman Pencarian */
    .text-passengers .jumlah-penumpang {
        order: 1;
    }

    .text-passengers span:nth-child(3) {
        order: 2;
    }

    .text-choose {
        font-size: 20px;
        font-family: "OpenSans-SemiBold";
    }

    .preview-flight-content .choose-flight .list,
    .preview-train-content .choose-train .list {
        font-size: 14px;
    }

    .wrapper-form .btn.btn-orange {
        width: 109px;
    }

    .wrapper-result .wrapper-flight-list .btn-details {
        margin-left: 27%;
    }

    .wrapper-result .wrapper-flight-list > .row > [class*="col"]:first-child {
        position: relative;
        top: 0;
        left: 0;
    }

    .wrapper-result .wrapper-collapse hr {
        margin: 15px 0 0 0;
    }

    /* .wrapper-result .wrapper-flight-list .left .flight-icon {
        transform: rotate(90deg);
    } */

    /* .wrapper-result .wrapper-flight-list .left .departure-time::before,
    .wrapper-result .wrapper-flight-list .left .arrival-time::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #dee2ee;
        left: 15px;
    }

    .wrapper-result .wrapper-flight-list .left .departure-time::before {
        top: 28px;
    }

    .wrapper-result .wrapper-flight-list .left .arrival-time::before {
        bottom: 28px;
    }

    .wrapper-result .wrapper-flight-list .left .flight-timeline::before {
        content: "";
        display: inline-block;
        height: 50px;
        position: absolute;
        top: 30px;
        left: 17px;
        border-left: 2px dashed #dee2ee;
    } */

    /* TripMate Advantages Section */
    .tripmate-advantages .container .row h3.title {
        line-height: 40px;
        font-size: 28px;
    }

    .tripmate-advantages .container .row p {
        margin-bottom: 80px;
    }

    .tripmate-partners #partner-flight .partner-product-list img {
        width: 100px;
        height: 100px;
    }

    .tripmate-partners #partner-train .partner-product-list img {
        width: 111px;
        height: 62px;
    }
}

@media (min-width: 0px) and (max-width: 992px) {
    .text-time,
    .wrapper-result .wrapper-flight-list .left .text-total-time,
    .text-code {
        font-size: 18px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #changeSearchModal {
        top: 88px;
        left: 0;
        transform: none;
    }

    .modal-xl {
        width: 100%;
        max-width: 1180px;
    }

    /* Header */
    #header-container {
        height: 96px;
    }

    #header-container .container {
        height: 100%;
    }

    #header-container .navbar-nav .nav-item .nav-link:hover,
    #header-container .navbar-nav .nav-item .nav-link.active {
        background-position: 22% 100%;
        background-size: 50% 1px;
    }

    /* Form */
    .product-widget form .illustration-container {
        display: inline-block;
    }

    .train-form .reverse-button-container span .fas.fa-exchange-alt {
        top: 36%;
    }

    .dropdown.boxairport .dropdown-menu {
        width: 690px;
    }

    .select2-dropdown {
        width: 500px !important;
    }
    /* TripMate Advantages */
    .tripmate-advantages .container .row h3.title {
        line-height: 40px;
    }

    /* Halaman Pencarian */
    /* .wrapper-result .wrapper-flight-list .left .flight-icon {
        padding: 0;
        transform: rotate(0deg);
    } */

    .preview-flight .box-flightform-airport {
        padding: 20px 0 22px 15px;
    }

    .preview-flight .box-flightform-passenger {
        width: 220px;
        padding: 20px 0 22px 15px;
    }

    .wrapper-result .wrapper-flight-list .btn-details {
        margin-left: 17.5%;
    }

    .wrapper-result .wrapper-flight-list .left .text-time {
        margin-right: 0;
    }

    .wrapper-flight-list .left .departure-time::before,
    .wrapper-flight-list .left .arrival-time::before,
    .wrapper-flight-list .left .flight-timeline::before {
        display: none;
    }

    .wrapper-flight-list .left .text-time,
    .wrapper-flight-list .left .text-total-time {
        font-size: 16px;
    }

    .wrapper-train-list .train-timeline .trip-duration::before,
    .wrapper-train-list .departure-time::after,
    .wrapper-train-list .arrival-time::after {
        content: "";
        display: none;
    }

    .wrapper-result .wrapper-collapse hr {
        margin: 17px 0 0 0;
    }

    .wrapper-result .btn-details a.active {
        padding-bottom: 25px;
    }

    .wrapper-form .form-group .fa.fa-plane-departure,
    .wrapper-form .form-group .fa.fa-plane-arrival,
    .wrapper-form .form-group .fa.fa-train {
        top: 60px;
        left: 16px;
    }

    .wrapper-form .form-group .fa.fa-user-alt {
        top: 62px;
        left: 12px;
    }

    .wrapper-form .form-group .fa.fa-chevron-down {
        top: 62px;
        right: 12px;
    }

    .wrapper-form .form-group {
        border-bottom: none;
    }

    .wrapper-form .box-flightform-airport {
        border-right: 1px solid #dee2ee;
    }

    ._separator {
        position: absolute;
        top: 56%;
        border-top: 1px solid #dee2ee;
    }

    .wrapper-form .dropdown-passenger-cabin .dropdown-menu {
        left: -256px;
    }
    /* Footer */
    footer.footer-group .footer-content .container .row .contact-us {
        display: inline-block;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .reverse-button-container span .fas.fa-exchange-alt {
        transform: rotate(0deg);
    }

    .wrapper-flight-list .left .text-time,
    .wrapper-flight-list .left .text-total-time,
    .wrapper-flight-list .right .text-price {
        font-size: 20px;
    }

    .wrapper-flight-list .left .flight-icon {
        padding: 0 15px;
    }

    .wrapper-flight-list .btn-details {
        margin-left: 96px;
        font-size: 14px;
    }

    .modal-xl {
        max-width: 104%;
    }

    .preview-flight .box-flightform-airport {
        width: 210px;
        padding: 20px 0 22px 23px;
    }

    .preview-flight .box-flightform-passenger {
        width: 263.3333333px;
        padding: 20px 0 22px 15px;
    }

    .wrapper-form .form-group .fa.fa-plane-departure,
    .wrapper-form .form-group .fa.fa-plane-arrival,
    .wrapper-form .form-group .fa.fa-train {
        top: 60px;
        left: 23px;
    }

    .wrapper-form .form-group .fa.fa-chevron-down {
        right: 16px;
    }
}
