@font-face {
    font-family: OpenSans-Regular;
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}

body {
    font-family: OpenSans-Regular;
    scroll-behavior: smooth;
    background: #fff;
}

img {
    -webkit-user-drag: none;
}

.bg-gradation-blue {
    background: linear-gradient(to right, #367ffa, #59cbfd);
}

.container,
hr {
    max-width: 1180px;
}

.not-allowed {
    cursor: not-allowed;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn-primary {
    background: #367ffa;
}

/* || Icons */
[class*=" tm-"],
[class^="tm"] {
    z-index: 900;
}

[class*=" tm-pesawat-"],
[class*=" tm-kalender"],
[class*=" tm-kereta-"] {
    position: absolute;
}

[class*=" tm-pesawat-"] {
    margin: 5px 8px;
}

[class*=" tm-kereta-"] {
    margin: 0 8px;
}

[class*=" tm-kalender"] {
    margin: 0px 5px;
}

[class^="tm"],
[class*=" tm-"] {
    width: 45px;
    height: 45px;
}

.tm.tm-kereta-reverse {
    transform: scaleX(-1);
}

.fa.fa-plus,
.fa.fa-minus {
    color: #367ffa;
}

i.fa.fa-city {
    color: #367ffa;
}

.tm-refundable {
    font-size: 64px;
}

/* Overlay */
.home-page-widget-overlay {
    transition: all 0.3s ease;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -9999;
}

.home-page-widget-overlay.show {
    background: rgba(2, 2, 2, 0.7);
    z-index: 800;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

/* || Carousal */
.home-page .container .banner {
    width: 100%;
    height: 360px;
}

.home-page .container .banner .home-slider,
#carouselHomepage .carousel-inner .carousel-item img {
    height: 300px;
}

#carouselHomepage .carousel-inner .carousel-item img {
    margin: 0 auto;
    width: 910px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    opacity: 1;
}

.carousel-control-prev {
    left: 6.5%;
}

.carousel-control-next {
    right: 6.5%;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    background-image: none;
    width: 35px;
    height: 35px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
}

.carousel-control-prev .carousel-control-prev-icon {
    transform: rotate(45deg);
}

.carousel-control-next .carousel-control-next-icon {
    transform: rotate(225deg);
}

/* || Header */
.logo {
    width: 238px;
    height: 78px;
}

#header-container .container .navbar .navbar-toggler {
    border: 2px solid orange;
}

#header-container .container .navbar {
    height: 120px;
}

#header-container .nav-item .nav-link,
#header-container .nav-item .btn {
    font-family: OpenSans-SemiBold;
    font-size: 14px;
}

#header-container .navbar-nav .nav-item .nav-link:hover {
    background: linear-gradient(#ffffff, #ffffff);
    background-repeat: no-repeat;
}

#header-container .navbar #navbarNav .header-right #btn-register {
    width: 70px;
    margin: 3px 0px 0px 0px;
    padding: 4px 12px;
    color: #367ffa;
    border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgba(53, 64, 90, 0.2);
}

/* || Product Widget */
.card.product-widget,
.card.train-form,
.card.flight-form,
.card.product-widget form .row .product-list a.product,
.card.train-form form .row .product-list a.product,
.card.product-widget form .row .product-form-search-button,
.card.train-form form .row .product-form-search-button {
    border-radius: 10px;
    width: 100%;
}

.card.product-widget,
.card.train-form,
.card.flight-form {
    margin-top: -2.5rem;
    box-shadow: 0 2px 16px 0 rgba(57, 89, 163, 0.3);
    z-index: 1100;
    color: #35405a;
    font-size: 14px;
}

.product-widget .product-list a.product {
    width: 100%;
    height: 70px;
    border: 2px solid #367ffa;
}

.product-widget .product-list a.product img {
    width: 50px;
    height: 50px;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
} */

/* || Form Pencarian Penerbangan dan Kereta Api */
.home-page .home-train .card.train-form,
.home-page .home-flight .card.flight-form {
    margin-bottom: 80px;
}

.form-group .input-group .product-search-input {
    width: 100%;
    height: 50px;
    border: 1px solid #367ffa;
    border-radius: 10px;
    font-size: 16px;
    font-family: OpenSans-SemiBold;
    color: #35405a;
}

#input-bandara-asal,
#input-bandara-tujuan,
#input-tanggal-berangkat,
#input-tanggal-pulang,
#input-stasiun-asal,
#input-stasiun-tujuan {
    padding-left: 55px;
}
/* Custom Select Box Passenger */

form .row .passenger-dropdown-container .dropdown-toggle {
    padding: 10px 10px;
}

/* Untuk mereset icon caret bootstrap */
form .passenger-dropdown-container .dropdown-toggle::after,
.tm.tm-caret {
    /* display: none; */
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
    border: 3px solid;
    border-color: transparent transparent #367ffa #367ffa;
    transform: rotate(-45deg);
}

.tm.tm-caret.active {
    top: 22px;
    transform: rotate(-225deg);
}

form .passenger-dropdown-container .dropdown-menu {
    width: 260px;
}

.passenger-dropdown-container .dropdown-menu > .dropdown-item {
    padding: 0px 16px;
}

.passenger-dropdown-container .dropdown-menu .dropdown-header {
    padding: 16px;
}

.passenger-dropdown-container
    .dropdown-menu
    .dropdown-item
    .input-group
    > input[type="text"] {
    pointer-events: none;
}

/* Button Cari Penerbangan */
.product-form-search-button {
    background-color: #367ffa;
    color: #fff;
    height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.product-form-search-button:hover {
    background-color: #3172e2;
    color: #fff;
}

.date {
    z-index: 1000;
}

.display {
    display: block;
    animation: dropdownAnimation 0.3s ease-in-out 1;
}

@keyframes dropdownAnimation {
    0% {
        top: -80px;
        opacity: 0;
    }

    25% {
        top: -60px;
        opacity: 0.25;
    }

    50% {
        top: -40px;
        opacity: 0.5;
    }

    75% {
        top: -20px;
        opacity: 0.75;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes dropdownUp {
    0% {
        top: 0px;
        opacity: 1;
    }

    25% {
        top: -20px;
        opacity: 0.75;
    }

    50% {
        top: -40px;
        opacity: 0.5;
    }

    75% {
        top: -60px;
        opacity: 0.25;
    }

    100% {
        top: -80px;
        opacity: 0;
    }
}

/* Dropdown list */
.dropdown.boxairport,
.dropdown.stasiun-list-box {
    z-index: 1100;
}

.dropdown.boxairport .dropdown-menu,
.dropdown.stasiun-list-box .dropdown-menu {
    height: 300px;
    overflow: auto;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px;
}

.dropdown.boxairport .dropdown-menu {
    width: 704px;
}

.dropdown.stasiun-list-box .dropdown-menu {
    width: 350px;
}

.dropdown.boxairport .dropdown-menu > .dropdown-item,
.dropdown.stasiun-list-box .dropdown-menu > .dropdown-item {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    color: #58627a;
}

.dropdown.boxairport .dropdown-menu > .dropdown-item:hover,
.dropdown.stasiun-list-box .dropdown-menu > .dropdown-item:hover {
    background-color: #f2f8ff;
}

.dropdown.boxairport .dropdown-menu > .dropdown-header,
.dropdown.stasiun-list-box .dropdown-menu > .dropdown-header {
    font-size: 16px;
    border-bottom: 2px solid rgba(53, 64, 90, 0.2);
}

.dropdown .dropdown-menu > .dropdown-header i.fa.fa-times {
    position: absolute;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.passenger-dropdown-container .dropdown-menu > .dropdown-header {
    font-size: 16px;
}

.passenger-dropdown-container .dropdown-menu > .dropdown-header i.fa.fa-times {
    color: #fd9e0a;
}

.dropdown.boxairport .dropdown-menu > .dropdown-item .dropdown-option-code,
.dropdown.stasiun-list-box
    .dropdown-menu
    > .dropdown-item
    .dropdown-option-code {
    font-size: 12px;
    font-weight: 300;
    background-color: #eff1f7;
    padding: 0px 4px;
    min-width: 66px;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
}

/* || Feature Section*/
.feature .container .feature-box {
    max-width: 980px;
    margin: 32px auto -7px;
}

.feature .container .feature-box .list {
    margin-bottom: 41px;
}

.feature .container .feature-box .list .feature-image img {
    margin-right: 18px;
    width: 75px;
    height: 75px;
}

.feature .container .feature-box .list .feature-info .title {
    margin: 20px 0;
    line-height: 25px;
    font-size: 20px;
    font-weight: 600;
}

.feature .container .feature-box .list .feature-info .subtitle {
    margin: 0;
    font-weight: 500;
}

.feature .container .feature-box .list:nth-child(2),
.feature .container .feature-box .list:nth-last-child(1) {
    padding: 0 0 0 20px;
}

.home hr {
    margin: 48px 0 50px;
}

/* || Book Cheap */
.book-cheap .col-description {
    margin-top: 40px;
    text-align: left;
}

.book-cheap .col-description img {
    width: 70px;
    height: 70px;
    margin-right: 17px;
}

.book-cheap .col-description .text-bookcheap-title {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #35405a;
}

.book-cheap .col-description .text-bookcheap-description {
    font-size: 16px;
    color: #58627a;
    margin-top: 24px;
}

/* .book-cheap .col-description.row .col-lg-4 {
    margin-right: 16px;
} */
/* || TripMate Partners Section */
.partner-product-name {
    font-size: 16px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 600;
}

.partner-product-icon {
    margin-bottom: 30px;
}

.tripmate-partners h2 {
    margin: 40px auto;
    font-size: 32px;
}

.tripmate-partners #partner-flight .text-airline-partners,
.home-popular .text-popular-title,
.content-link .content-link-title,
.book-cheap .text-book-cheap {
    font-size: 24px;
    color: #35405a;
}

.tripmate-partners #partner-flight .partner-product-name {
    color: #367ffa;
}

.tripmate-partners #partner-flight .partner-product-list {
    margin-top: 70px;
}

.tripmate-partners #partner-flight .partner-product-list img {
    width: 100px;
    height: 100px;
    filter: grayscale();
}

.tripmate-partners #partner-train .partner-product-name {
    color: #fd9e0a;
}

.tripmate-partners #partner-train .partner-product-list img {
    filter: grayscale();
}

.tripmate-partners #partner-train .partner-product-list {
    margin-bottom: 40px;
}

/* || TripMate Advantages Section */

.tripmate-advantages .container h2 {
    margin: 40px auto;
    font-size: 32px;
}

.tripmate-advantages .container .row h3.title {
    line-height: 100px;
    font-size: 30px;
}

.tripmate-advantages .container .row p {
    font-size: 16px;
}

.tripmate-advantages .container .row:nth-last-child(1) {
    margin-bottom: 40px;
}

/* || Home Popular Planes */

.home-popular .list-popular.row a,
.content-link .list-popular.row a {
    text-decoration: none;
    color: #58627a;
    font-size: 14px;
}

.content-link {
    padding: 0px 90px;
}

/* || Preview Flight */

.flight {
    background: #f5f6fa;
}

.preview-flight .right-side [class^="text-"] {
    font-family: OpenSans-SemiBold;
}

.preview-flight {
    background: #fff;
}

.preview-flight .preview-flight-content .choose-flight {
    padding: 21px;
}

.preview-flight .preview-flight-content .choose-flight .text-choose {
    color: #35405a;
    font-size: 20px;
}

.preview-flight .preview-flight-content .choose-flight .list {
    color: #58627a;
    font-size: 14px;
}

.preview-flight .preview-flight-content .choose-flight .dot-circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #8a93a7;
}

.preview-flight .preview-flight-content div.btn-ubah-pencarian {
    background: #f7f7f7;
    text-transform: uppercase;
    color: #367ffa;
    font-size: 16px;
    font-family: OpenSans-SemiBold;
    border-radius: 24px;
    border: none;
    outline: none;
}

.preview-flight .preview-flight-content .content .border-left-ticket::before {
    position: absolute;
    content: "";
    border-top: 11px solid rgba(0, 0, 0, 0);
    border-bottom: 11px solid rgba(0, 0, 0, 0);
    border-left: 11px solid #dee2ee;
    top: 36px;
    left: -1px;
}

.preview-flight .preview-flight-content .content .border-left-ticket::after {
    position: absolute;
    content: "";
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid #fff;
    top: 37px;
    left: -1px;
}

/* || Form Ubah Pencarian */

.wrapper-change-search i[class*="fa"] {
    color: #367ffa;
    font-size: 20px;
}

/* Filter Box */
.flight .filter-box .filter-header #btnReset,
.flight .filter-box .filter-body .card-body .card .card-header .collapse-label {
    font-size: 16px;
    font-family: OpenSans-SemiBold;
}

.flight .filter-box .filter-header #btnReset {
    color: #367ffa;
    cursor: pointer;
}

.flight .filter-box .filter-body .card-body .card-header {
    background: #fff;
}

.flight .filter-box .filter-body .card-body .card {
    border: none;
}

.flight .filter-box .filter-body .card-body {
    padding: 16px 16px 0 16px;
}

.flight
    .filter-box
    .filter-body
    .card-body
    .card
    .card-header
    .collapse-label
    .fa-chevron-down {
    color: #367ffa;
    font-size: 24px;
}

.flight
    .filter-box
    .filter-body
    .card-body
    .card
    .card-header
    .collapse-label
    a {
    color: #35405a;
}

/* || List Penerbangan */
.flight #wrapperPencarianPenerbangan {
    margin-top: 21px;
}

.flight .wrapper-result .wrapper-flight-list {
    padding: 16px 24px;
    margin-bottom: 8px;
    color: #35405a;
}

.wrapper-result .wrapper-flight-list .maskapai-penerbangan {
    font-size: 14px;
}

.logo-airline {
    width: 100%;
    height: 40px;
}

.logo-airline img {
    max-width: 100%;
    max-height: 100%;
}

.wrapper-result .wrapper-flight-list .left .text-time {
    font-size: 20px;
    font-family: OpenSans-SemiBold;
}

.wrapper-result .wrapper-flight-list .left .text-code {
    font-size: 14px;
}

/* 
    .wrapper-result
    .wrapper-flight-list
    .left
    .timeline
    .hr-line {
    margin: 4px 0;
    width: 72px;
    border-top: 1px solid #c6cbda;
} */

/* 
    .wrapper-result
    .wrapper-flight-list
    .left
    .text-total-time {
    font-size: 12px;
    color: #58627a;
} */

.wrapper-result .wrapper-flight-list .left .text-total-time {
    font-size: 20px;
}

.wrapper-result .wrapper-flight-list .right .baggage-list {
    margin-top: 5px;
}

.wrapper-result .wrapper-flight-list .right .text-price {
    font-size: 20px;
    font-family: OpenSans-SemiBold;
    color: #fd9e0a;
}

.wrapper-result .wrapper-flight-list .right .text-pax {
    font-size: 12px;
    color: #8a93a7;
    font-family: OpenSans-Regular;
}

/* Detail Penerbangan */

.wrapper-result .wrapper-flight-list .btn-details {
    width: 60%;
    font-size: 14px;
}

.wrapper-result .wrapper-flight-list .btn-details a {
    color: #0064d2;
}

.wrapper-result .wrapper-flight-list .btn-details a.active {
    padding-bottom: 23px;
    border-bottom: 1px solid #367ffa;
}

.wrapper-result .wrapper-flight-list .btn-book-now a.btn {
    text-transform: uppercase;
    border-radius: 24px;
    min-width: 100px;
    font-size: 16px;
    font-family: OpenSans-SemiBold;
    border: none;
    outline: none;
}

.wrapper-result .wrapper-flight-list .wrapper-collapse hr {
    margin: 5px 0 0 0;
}

.wrapper-collapse .row .text-airport,
.wrapper-collapse .row .text-time-fd,
.wrapper-collapse .row .text-date-fd {
    font-size: 14px;
    font-family: OpenSans-Regular;
    font-weight: 400;
    color: #35405a;
}

.wrapper-collapse .row .text-airport {
    padding-left: 9px;
}

.wrapper-collapse .row .text-airport::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #dee2ee;
    top: 6px;
    left: -3px;
}

.wrapper-collapse .row .text-time-fd {
    font-family: OpenSans-SemiBold;
}

.wrapper-collapse .row table {
    width: 100%;
}

.wrapper-collapse .row .th-detail::before {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 32px;
    background: #dee2ee;
    top: -32px;
    left: 1px;
}

.wrapper-collapse .row .th-detail::after {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 32px;
    background: #dee2ee;
    bottom: -10px;
    left: 0.5px;
}

.wrapper-collapse .row .col-flight-detail-1 {
    width: 73px;
}

.wrapper-collapse .row .box-flight-detail {
    padding: 32px 0;
    border-left: 1.4px solid #dee2ee;
}

.wrapper-collapse .row .detail-info-wrapper {
    background: #f2f8ff;
    padding: 24px;
    font-size: 14px;
    font-weight: normal;
}

.wrapper-collapse .row .detail-info-wrapper .logo-airline {
    width: 34px;
    height: 20px;
    padding: 2px;
    background: #fff;
    border: 1px solid #dee2ee;
}

.wrapper-collapse .row .detail-info-wrapper .details-info-header .line {
    width: 1px;
    height: 14px;
    background: #c6cbda;
    margin: 0 5px;
}

/* .wrapper-result .wrapper-flight-list .row .detail-info-wrapper hr {
    margin: 1rem 0 0 0;
} */

.wrapper-result .wrapper-flight-list .row .details-info-content .baggage-list {
    margin: 19px 0 0 0;
}

.wrapper-collapse .transit {
    position: relative;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    background-color: #f5f6fa;
    margin: 32px 0;
}

.wrapper-collapse .transit::before {
    content: "";
    position: absolute;
    border-left: 1.5px dashed #dee2ee;
    height: 64px;
    top: -64px;
    left: 59px;
}

.wrapper-collapse .transit::after {
    content: "";
    position: absolute;
    border-left: 1.5px dashed #dee2ee;
    height: 38px;
    bottom: -38px;
    left: 59px;
}

.wrapper-collapse .transit .text-transit {
    font-size: 14px;
    color: #58627a;
    text-align: center;
}

.wrapper-collapse .transit .text-transit label {
    font-family: OpenSans-SemiBold;
}

/* detail harga penerbangan */
#price-detail .price-details .text-subtitle,
#price-detail .price-details .text-free,
#price-detail .price-details .text-total {
    font-size: 14px;
    color: #35405a;
}

#price-detail .price-details .row ul {
    font-size: 14px;
    color: #8a93a7;
}

#price-detail .price-details .row ul li {
    padding: 6px 0;
}

#price-detail .price-details .text-total,
#price-detail .price-details .col-price-total {
    font-size: 16px;
}

#price-detail .price-details .col-price-total {
    font-family: OpenSans-SemiBold;
    color: #0064d2;
}

.tooltip {
    font-family: OpenSans-SemiBold;
    font-size: 14px;
}

.tooltip.show {
    opacity: 1;
}

/* || Footer */

footer.footer-group .footer-content .contact-us-content span.icon-image img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

footer.footer-group .footer-content .container .contact-us {
    font-size: 14px;
}

.content-gray {
    color: #58627a;
}

footer.footer-group .footer-content .container .footer-list {
    color: #35405a;
}

footer.footer-group .footer-content .container .footer-list .footer-item-title {
    margin-bottom: 29px;
    font-size: 16px;
    font-family: OpenSans-SemiBold;
    text-transform: uppercase;
}

footer.footer-group .footer-content .container .footer-list .footer-item a {
    text-decoration: none;
}

footer.footer-group .copyright {
    padding: 30px 0;
}

footer.footer-group hr {
    max-width: 100%;
}

.footer-group hr {
    margin-bottom: 0;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
} */

.reverse-button-container {
    right: -22px;
}

.reverse-button-container span {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    top: 40%;
    right: 46%;
    border: 1px solid #367ffa;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.reverse-button-container span .fas.fa-exchange-alt {
    font-size: 30px;
    color: #367ffa;
}

/* || Responsive Layouts */

/* Extra Small Device (Potraits Phones, less than 576px) */
@media (min-width: 0px) {
    #header-container .container .navbar {
        height: 100%;
    }

    #header-container .navbar-nav .nav-item .nav-link:hover {
        background-position: 0% 100%;
        background-size: 7% 1px;
    }

    .banner {
        height: 300px;
    }

    .product-widget {
        margin-top: 20px;
    }

    .dropdown.boxairport .dropdown-menu {
        width: 106.5%;
    }

    .home-page .reverse-button-container span {
        top: 90px;
        right: 38px;
        transform: rotate(90deg);
    }

    .train-form .reverse-button-container span,
    .home-flight .reverse-button-container span {
        top: 82px;
        right: 38px;
        transform: rotate(90deg);
    }

    .passenger-dropdown-container .product-search-input {
        text-align: center;
    }

    select#selectBoxKelasKabin {
        text-align-last: center;
    }

    .tripmate-advantages .container .row h3.title {
        line-height: normal;
        margin: 40px 0;
        font-size: 28px;
    }

    .home-popular {
        padding: 0px;
    }

    .preview-flight .preview-flight-content .choose-flight .text-choose {
        font-size: 16px;
    }

    .preview-flight .preview-flight-content .choose-flight .list {
        font-size: 12px;
    }

    .text-passengers i.fa.fa-user {
        order: 1;
    }

    .text-passengers .jumlah-penumpang {
        order: 2;
    }

    .feature .container .feature-box .list:nth-child(2),
    .feature .container .feature-box .list:nth-last-child(1) {
        padding: 0;
    }

    .wrapper-result .wrapper-flight-list .left .text-time,
    .wrapper-result .wrapper-flight-list .left .text-total-time {
        font-size: 16px;
    }

    footer.footer-group .footer-content .container .row .contact-us {
        display: flex;
        justify-content: space-around;
    }
}

/* Small Devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* Header */
    #header-container .container .navbar {
        height: 100%;
    }

    /* Product Widget dan Form*/
    .product-widget form .illustration-container {
        display: none;
    }

    .dropdown.boxairport .dropdown-menu {
        width: 100%;
    }

    /* TripMate Advantages Section */
    .tripmate-advantages .container .row p {
        margin-bottom: 40px;
    }

    .tripmate-advantages .container .row h3.title {
        line-height: normal;
        margin: 40px 0;
        font-size: 28px;
    }
}

/* Medium Device (tablets, 768px and up) */
@media (min-width: 768px) {
    #header-container .container .navbar {
        height: 100%;
    }

    .home-popular {
        text-align: left;
        padding: 0px 94px;
    }
    /* Product Widget */
    .product-widget form .illustration-container {
        display: none;
    }

    .home-page .reverse-button-container span {
        top: 36%;
        right: 0;
        transform: rotate(0deg);
    }

    .train-form .reverse-button-container span,
    .home-flight .reverse-button-container span {
        top: 32%;
        right: 0;
        transform: rotate(0deg);
    }

    select#selectBoxKelasKabin {
        text-align-last: left;
    }

    .preview-flight .preview-flight-content .choose-flight .text-choose {
        font-size: 20px;
    }

    .preview-flight .preview-flight-content .choose-flight .list {
        font-size: 14px;
    }

    .text-passengers .jumlah-penumpang {
        order: 1;
    }

    .text-passengers span:nth-child(3) {
        order: 2;
    }

    /* TripMate Advantages Section */
    .tripmate-advantages .container .row h3.title {
        line-height: 40px;
        font-size: 28px;
    }

    .tripmate-advantages .container .row p {
        margin-bottom: 80px;
    }

    .dropdown.boxairport .dropdown-menu {
        width: 690px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #header-container .navbar-nav .nav-item .nav-link:hover {
        background-position: 22% 100%;
        background-size: 50% 1px;
    }

    .product-widget form .illustration-container {
        display: inline-block;
    }

    .train-form .reverse-button-container span .fas.fa-exchange-alt {
        top: 36%;
    }

    .tripmate-advantages .container .row h3.title {
        line-height: 40px;
    }

    .wrapper-result .wrapper-flight-list .left .flight-icon {
        padding: 0;
    }

    .wrapper-result .wrapper-flight-list .btn-details {
        margin-left: 17%;
    }

    footer.footer-group .footer-content .container .row .contact-us {
        display: inline-block;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .reverse-button-container span .fas.fa-exchange-alt {
        transform: rotate(0deg);
    }

    .wrapper-result .wrapper-flight-list .left .text-time {
        font-size: 20px;
    }

    .wrapper-result .wrapper-flight-list .left .text-total-time {
        font-size: 20px;
    }

    .wrapper-result .wrapper-flight-list .left .flight-icon {
        padding: 0 15px 0 15px;
    }

    .wrapper-result .wrapper-flight-list .btn-details {
        margin-left: 96px;
        width: 60%;
        font-size: 14px;
    }
}
